<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Round</th>
      <th>Local team</th>
      <th>Away team</th>
      <th>Player of the match</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.round %></td>
        <td><%= game.local_team_id %></td>
        <td><%= game.away_team_id %></td>
        <td><%= game.player_of_the_match_id %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
