<%= form_for(@group_inscription) do |f| %>
  <% if @group_inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_inscription.errors.count, "error") %> prohibited this group_inscription from being saved:</h2>

      <ul>
      <% @group_inscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group %><br>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :inscription %><br>
    <%= f.text_field :inscription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
