<%= render layout:'versions/version' do %>

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					<%= link_to @inscription.team.name, @inscription.team %> 
					<small>en <%= @version.name %> de <%= @version.cup.name %></small>
				</h1>
			</div>
		</div>
	</div>

	<div class="row not_together">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Jugadores inscritos
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th class="short">N°</th>
								<th>Nombre</th>
								<%= render 'layouts/goals_cards_theaders' %>
							</tr>
						</thead>

						<% @inscription.participations.sort_by { |x| x.number }.each do |p| %>
							<tr>
								<td><%= p.number %></td>
								<td><%= link_to p.user.f_name, version_participation_path(@version, p) %></td>
								<td><%= p.version_goals(@version).count %></td>
								<td><%= p.version_cards(@version, 1).count %></td>
								<td><%= p.version_cards(@version, 2).count %></td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Partidos
				</div>
				<div class="panel-body">
						<%= render 'inscriptions/stages_menu' %>
						<%= render 'inscriptions/stage_rounds', stage: @version.stages.last %>
				</div>
			</div>
		</div>
	</div>

<% end %>