<div class="row">
	<div class="col-md-12">
		<ul class="pager">
			<% @version.stages.each do |s| %>
				<li><%= link_to s.name, version_stage_path(@version, s), remote: true %></li>
			<% end %>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
			<% stage.groups.each do |g| %>
			<h4 class="text-muted"><%= g.name %></h4>
			<table class="table">
				<tr>
					<th></th>	
					<th class="col-md-4">Equipo</th>	
					<th>PJ</th>	
					<th>PG</th>	
					<th>PE</th>	
					<th>PP</th>	
					<th>GF</th>	
					<th>GC</th>	
					<th>Dif</th>
					<th>Rend</th>
					<th>Pts</th>	
				</tr>

				<% j = 1 %>
				<% g.stads.each do |st| %>
				<tr>
					<td><%= j %></td>
					<td><%= link_to st[:inscription].team.name, version_inscription_path(@version, st[:inscription]) %></td>
					<td><%= st[:pg] %></td>
					<td><%= st[:wg] %></td>
					<td><%= st[:tg] %></td>
					<td><%= st[:lg] %></td>
					<td><%= st[:goals_for] %></td>
					<td><%= st[:goals_against] %></td>
					<td><%= st[:dif] %></td>
					<td class="text-warning"><%= st[:rend] %> %</td>
					<td class="text-info"><b><%= st[:points] %></b></td>
				</tr>
					<% j+= 1%>
				<% end %>
			</table>
		<% end %>
	</div>
</div>