<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @goal.game %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
